.env
config/config.yaml
config/local-config.yaml

.*.sw?
**/.DS_Store
.idea/
.aws-sam/
.vscode/settings.json
**/.vim/

*.js
!jest.config.js
*.d.ts
node_modules

cdk.out
cdk.context.json
litellm-source

litellm-cdk/resources.txt

**/outputs.json

**/myenv/
**/fresh_venv/
*.pyc
.terraform.lock.hcl
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
terraform.tfstate.*

**.env.testing
**error.txt
**.env
sessionmanager-bundle.zip
sessionmanager-bundle
backend.hcl
resources.txt
errored.tfstate